[submodule "thirdparty/stb/stb"]
	path = thirdparty/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/nuklear/Nuklear"]
	path = thirdparty/nuklear/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "thirdparty/lz4/lz4"]
	path = thirdparty/lz4/lz4
	url = https://github.com/lz4/lz4.git
[submodule "thirdparty/zig-gamedev"]
	path = thirdparty/zig-gamedev
	url = https://github.com/zig-gamedev/zig-gamedev.git
